# llm settings
OPENAI_API_KEY = openai_api_key

# Optional for evaluation and tracing
LANGSMITH_API_KEY=langsmith_api_key
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=serbian-news-agent
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com

# news source settings
VIJESTI_RSS = "https://www.vijesti.me/rss"
CACHE_FILE = "article_cache.json"